<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head', { title : 'brawllhalla' }) %>

	<body >
		

   

		<main>

			<section class="cartas">
			

				<div class="card1">
          <img  src="/assets/<%- brawll.id %>.jpg" alt="<%- brawll.super_brawll %> image" width= "250">
       
					<div class="card">
            <h4><%= brawll.super_brawll %></h4>

			<p> <strong>Weapon 1</strong> <%= brawll.weapon_1 %> </p>
			<p> <strong>Weapon 2</strong> <%= brawll.weapon_2 %> </p>
			<p> <strong>Price</strong> <%= brawll.price %> </p>
            <a  href="javascript:history.back()">Go Back</a>

          </div>
				</div>

			
			</section>

		</main>
	</body>
</html>
