<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head', { title : 'brawllhalla' }) %>

	<body>
		<header>
			<div class="container">
				<h1> brawllhalla</h1>
				<hr />
				<nav>
				<a href="#">Home</a>
				<a href="#palabra">Nuestras Leyendas</a>
				</nav> 
			</div>

		</header>




	<section id="hero">
      <h1>Listo Para Jugar?</h1>
      <button>VAMOS!</button>
    </section>

	<section id="palabra">
      <h2>Conoce Nuestras Leyendas!</h2>
	</section>

	

		<main>
			<section class="cartas">
				<% personajes.forEach(personaje=> { %>


					<div class="card1">
						<img src="/assets/<%= personaje.imagen %>" alt="..." width= "250">


							<div class="card">

								<p> <strong>Nombre :</strong> <%= personaje.nombre %> </p>
								<p> <strong>Price :</strong> <%=  personaje.price %> </p>
								<p> <strong>Weapon 1 :</strong> <%=  personaje.weapon_1 %> </p>
								<p> <strong>Weapon 2 :</strong> <%=  personaje.weapon_2 %> </p>
								
							  	
							</div>
							</div>


						<% }) %>
		</section>

		</main>

		




		<footer>

			<%- include('./partials/footer')  %> 
		</footer>
	</body>
</html>
